<div class="new-post-btn w-100">
  <div class="d-flex justify-content-end">
    <%= link_to "New Post", new_post_path, class: "btn btn-secondary" %>
  </div>
</div>

<div class="row">
  <div class="d-flex justify-content-center">
  <%= image_tag "forum_banner.png", class:"forumbanner " %>
  </div>
  <div class="col-8">
    <div id="posts">
      <%@posts.each do |post| %>
      <div class="post">
        <h2 class="title"><%= link_to post.title, post %></h2>
        <div class="date">
          <p>Published at <%= time_ago_in_words(post.created_at) %></p>
          <p>Published by: <%= post.user.username %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-4">
    <div id="posts">
      <div id="menu">
        <p><%= link_to root_path, class: "d-flex justify-content-between icon" do %>
          <span>All Discussions</span><%= image_tag "comment-regular.svg", width: "33px" %> </a>
        <% end %></p>
        <hr>



        <p><%= link_to posts_path(category: "frontend"), class: "d-flex justify-content-between icon" do %>
          <span>Front-End</span><%= image_tag "frontend.svg", width: "33px" %> </a>
        <% end %></p>
        <p><%= link_to posts_path(category: "backend"), class: "d-flex justify-content-between icon" do %>
          <span>Back-End</span><%= image_tag "backend.svg", width: "33px" %> </a>
        <% end %></p>
        <p><%= link_to posts_path(category: "gamedev"), class: "d-flex justify-content-between icon" do %>
          <span>GameDev</span><%= image_tag "game.svg", width: "33px" %> </a>
        <% end %></p>
        <p><%= link_to posts_path(category: "datascience"), class: "d-flex justify-content-between icon" do %>
          <span>Data Science</span><%= image_tag "data.svg", width: "33px" %> </a>
        <% end %></p>
      </div>
    </div>
  </div>
</div>
