<!DOCTYPE html>
<html>
  <head>
    <title>Thehatforum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header class="main_header clearfix">
    <div class=" wrapper mt-2">
      <div id="logo">
        <p><%= link_to "The Hat's Forum", root_path %></p>
      </div>
      <div id="buttons">
        <% if user_signed_in? %>
          <%= link_to "Novo Tópico", new_post_path %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>

        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </header>

 <div class="wrapper">
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
  </div>

  <div class="wrapper">

    <%= yield %>
  </div>
  </body>
</html>
